# 忽略本地配置文件
.env
gpt_zaure.py
# 忽略编译生成的文件和目录
__pycache__/
data/
logs/
checkpoints/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyz/
dist/
build/
*.egg-info/

# 忽略编辑器/IDE生成的文件
.vscode/
.idea/
*.suo
*.user
*.sln
*.swp
*.pickle
*.ipynb
*.sqlite3